#hello {
    padding: 2em;
}

#logo {
    padding: .5em;
}

#cardMargin {
    margin-top: 0;
  padding-top:0;
}

#red {
    font-family: 'Libre Baskerville', serif;
    color: #bb1f25;
    padding-bottom: .5rem;
}

#cardHeader {
    font-family: Helvetica, sans-serif;
    padding-top: .5rem;
    margin-bottom: 0rem;
    border-color: #0D4B6E;
    border-width: thick;
   }
