body {
   
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/long-windy-road-william-krumpelman.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
  
  }

  
